.movies {
    display : flex;
    flex-wrap: wrap;
}

#movieList {
    text-align: left;
    
    display: inline-block;
    width: 50%;
    
    
    
}

nav {
    display: inline-block;
    width: 50%;
    
    
}

#titleButton {
    background-color: blueviolet;
    height: 100px; 
    padding: 20px;  
}
